{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <div style="margin-bottom:20px" class="clearfix">
            <!--            <a class="btn btn-info" href="/user/add/">-->
            <!--                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>-->
            <!--                新增用户(普通方法)-->
            <!--            </a>-->
            <a class="btn btn-info" href="/user/add/">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                新增员工
            </a><!--modelform方法-->
            <!--查找员工-->
            <form method="get" style="float:right;width:300px">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for user..." name="search">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </form>
        </div>
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                员工列表
            </div>

            <!-- Table -->
            <table class="table table-bordered">
                <thead>
                <tr>
<!--                    <th>ID</th>-->
                    <th>姓名</th>
                    <th>年龄</th>
                    <th>薪水</th>
                    <th>余额</th>
                    <th>性别</th>
                    <th>单位</th>
                    <th>入职时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for item in user_data %}
                <tr>
<!--                    <td>{{ item.id }}</td>-->
                    <td>{{ item.user }}</td>
                    <td>{{ item.age }}</td>
                    <td>{{ item.salary }}</td>
                    <td>{{ item.account }}</td>
                    <td>{{ item.get_gender_display }}</td>
                    <td>{{ item.unit.unit }}</td>
                    <td>{{ item.entry_date }}</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="/user/{{ item.id }}/edit/">编辑</a>
                        <a class="btn btn-danger btn-xs" href="/user/{{ item.id }}/del/">删除</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <ul class="pagination">
            {{ page_list }}
            <!--            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>-->
            <!--            <li class="active"><a href="?page=1">1 <span class="sr-only">(current)</span></a></li>-->
            <!--            <li><a href="#">2</a></li>-->
            <!--            <li><a href="#">3</a></li>-->
            <!--            <li><a href="#">4</a></li>-->
            <!--            <li><a href="#">5</a></li>-->
            <!--            <li><a href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>-->
            <li>
                <form method="get" style="float:left;margin-left: 40px">
                    <input style="position: relative;float:left;display: inline-block;width: 60px;border-radius: 0"
                           type="text" class="form-control" placeholder="页码" name="page">
                    <button style="border-radius: 0" class="btn btn-default" type="submit">跳转</button>
                </form>
            </li>
        </ul>
    </div>
{% endblock %}